vendor/
node_modules/
storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
storage/framework/testing/
bootstrap/cache/
.git/
*.log
.env
.env.*
composer.lock
package-lock.json
yarn.lock
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
coverage/
tests/coverage/
.phpunit.result.cache
.DS_Store
Thumbs.db
